@model dynamic;
@{
    ViewData["Title"] = "Create post";
}

<h1>Create post</h1>
    @using (Html.BeginForm())
    {
        <form  asp-validation-summary="ModelOnly" action="/create" method="post" >

            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title" asp-for="Title" aria-describedby="emailHelp" placeholder="Title">
                <small id="emailHelp" class="form-text text-muted" asp-validation-for="Title"></small>

            </div>
            <div class="form-group">
                <label for="desc">Description</label>
                <input type="text" id="desc" name="description" class="form-control" placeholder="Description">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input name="price" type="text" class="form-control" placeholder="Price">
            </div>
            <label for="category">Category</label>

            <select id="category" name="category" class="form-control">
                <option value="0" selected>
                    Select..
                </option>
                @foreach (var item in Model.Categories)
                {
                    <option value="@item.Id">
                        @item.Name
                    </option>
                }
            </select>

            <label for="supplier">Supplier</label>

            <select id="supplier" class="form-control" name="supplier">
                <option value="0" selected>
                    Select..
                </option>
                @foreach (var item in Model.Suppliers)
                {
                    <option value="@item.Id">
                        @item.Name
                    </option>
                }
            </select>
            <label for="manufacture">Manufacture</label>

            <select id="manufacture" name="manufacture" class="form-control">
                <option value="0" selected>
                    Select..
                </option>
                @foreach (var item in Model.Manufactures)
                {
                    <option value="@item.Id">
                        @item.Name
                    </option>
                }

            </select>
            <br />
            <button type="submit" class="btn btn-primary">Create post</button>

        </form>
        @if(Model.Error != null)
        {
            <p>@Model.Error</p>
        }
    }
